.blockquote {
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 0;
  margin-right: 0;
}

.article-block-highlight {
    color: #FB4E42;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}

.pic-caption {
    margin: 10px 0 20px 0;
    color: #999;
    font-size: 13px;
}

.article-block-wrapper ul {
  padding-left: 17px;
}

.article-block-wrapper ul li {
  list-style: none;
  text-indent: -1em;
}

.article-block-wrapper ul li::before {
  content: "• ";
  color: #FB4E42;
  font-size: 30px;
  top: 5px;
  position: relative;
}
