.articles-block-title {
  font-size: 20px;
}

.articles-block-item {
  position: relative;
  margin-bottom: 0.5rem;
  max-height: 339px;
  background-color: @c-white;
  margin-left: -15px;
  margin-right: -15px;

  @media (min-width: 48em) {
    width: 100%;
    margin-bottom: 1rem;
    min-height: 390px;
    max-height: 390px;
    background-repeat: no-repeat;
    margin-left: 0;
    margin-right: 0;
  }
}

.articles-block-item-link {
  display: block;
  color: @c-text;
  text-decoration: none;

  &:hover,
  &:focus {
    color: @c-text;

    .articles-block-item-bg {
      &::after {
        opacity: 0.35;
        transition: all 200ms;
      }
    }
  }

  @media (min-width: 48em) {
    max-height: 440px;
  }
}

.articles-block-item-bg {
  position: relative;
  width: 100%;
  height: 212px;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    background: @c-orange;
    transition: all 200ms;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (min-width: 48em) {
    height: 246px;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.articles-block-item-overlay {
  z-index: 10;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 13px 15px;

  @media (min-width: 48em) {
    position: absolute;
    padding: 17px 15px;
  }
}

.articles-block-item-title {
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  max-height: 101px;

  @media (min-width: 48em) {
    font-size: 18px;
    line-height: 22px;
    min-height: 110px;
    max-height: 110px;
  }
}

.articles-block-item-subtitle {
  font-size: 14px;

  @media (min-width: 48em) {
    font-size: 18px;
  }
}

.articles-block-item-featured {
  .articles-block-item-bg {
    width: 100%;
    position: relative;
    height: 212px;
    @media (min-width: 48em) {
      height: 100%;
      position: absolute;
    }
    img {
      max-height: unset;
      min-height: unset;
    }
  }

  .articles-block-item-title {
    font-size: 14px;

    @media (min-width: 48em) {
      font-size: 44px;
      line-height: 1.15;
    }
  }

  .articles-block-item-subtitle {
    font-size: 14px;
    display: none;

    @media (min-width: 48em) {
      font-size: 18px;
      display: block;
    }
  }

  .articles-block-item-overlay {
    background-color: rgba(0, 0, 0, 0.15);
    height: 100%;
    position: absolute;

    @media (min-width: 48em) {
      padding: 60px 100px;
    }
  }

  @media (min-width: 48em) {
    min-height: 300px;
    max-height: 350px;
  }
}

.articles-block-item-inverse {
  @media (min-width: 48em) {
    min-height: 440px;
    max-height: 440px;
    color: #fff;
  }

  .articles-block-item-link {
    @media (min-width: 48em) {
      color: #fff;
    }
  }
}

.articles-block-loadmore {
  text-align: center;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */

  a {
    font-size: 18px;
    display: inline-block;
    text-decoration: none;
    padding: 8px 50px;
    border: 3px solid @c-orange;
    color: @c-text;

    &:hover,
    &:focus {
      background-color: @c-orange;
      color: #fff;
    }
  }
}

.directory-link {
  display: block;
  width: 100%;
  background-color: @c-orange;
  text-decoration: none;
  font-size: 14px;
  color: @c-white;
  padding: 15px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;

  &:hover,
  &:focus {
    background-color: #ff655a;
    color: @c-white;
  }

  @media (min-width: 48em) {
    font-size: 24px;
    padding: 30px;
  }

}

.title-c-white{
	color: @c-white;
}

.title-c-black{
	color: @c-black;
}

.partners-title{
    bottom: 48px;
    @media (min-width: 48em) {
        bottom: 0;
    }
    .articles-block-item-title{
        max-height: 54px;
        @media (min-width: 48em) {
            max-height: 66px;
        }
    }
}

.article-block-item-partner{
    height: 48px;
    display: flex;
    border-top: 1px solid #D8D8D8;
    z-index: 10;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    @media (min-width: 48em) {
        position: absolute;
    }
}

.partners-col{
    width: 33.333%;
    display: inline-block;
}

.article-partner-logo{
    width: 100%;
    padding-top: 8px;
    display: inline-block;
    text-align: center;
}

.article-partner-title{
    color: @c-orange;
    line-height: 12px;
    font-size: 11px;
    padding: 12px 15px;
    text-align: left;
    @media (min-width: 48em) {
        font-weight: bold;
    }
}

.partners-link-icon{
    width: 100%;
    padding: 15px 16px;
    display: inline-block;
    width: fit-content;
    float: right;
}
